.THIS .redText{
  color: #CA3433;
}
.THIS .smallText{
  font-size: 0.8em;
}
.THIS .italicText{
  font-style: italic;
}
.THIS .slds-textarea{
  height: 200px;
}
.THIS #recordContent{
  width: 100%;
}
.THIS .margin-vertical-15{
  margin-top: 15px;
  margin-bottom: 15px;
}